.handles-container{
    display: flex;
    margin-top: 5px;
    justify-content: center;

    
}
.handles-container .social-wrapper{
    font-size: 25px;
    display: inline;
    align-items: center;
    padding: 10px;
    color: black;
    
}