.skills-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.section-header{
    display: grid;
    justify-content: center;

    span{
        display: grid;
        justify-content: center;
    }
}
.wrapper-skill{
    margin-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.heading-1 .sub-head{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
}
.heading-1 .gradient-text{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 25px;

}
@media (max-width: 540px){
    .heading-1 .sub-head{
        font-size: 12px;
        
    }
    .heading-1 .gradient-text{
        font-size: 20px;
    
    }
}
